@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Forces Android and Chrome to never apply forced dark mode */
  color-scheme: light only;
}

html, body {
  background-color: #ffffff;
  color: #1c1917; /* stone-900 */
}
