@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #140b08;
  --foreground: #fcf8f2;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: system-ui, -apple-system, sans-serif;
  overflow-x: hidden;
}

.gold-gradient-text {
  background: linear-gradient(to right, #f9f295, #d4af37, #b8860b);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}